<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Pet Details</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-card-content>
      <div>
        <p>Pet Id: {{ currentPet.id }}</p>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            placeholder="Title"
            name="title"
            formControlName="title">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            placeholder="Description"
            name="details"
            formControlName="details">
        </mat-form-field>
      </div>
      <!-- <div align="end">
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
        </mat-card-actions>
      </div> -->
    </mat-card-content>
  </form>
</mat-card>
